#include <winver.h>
#include "ResourceIds.h"

IDI_ASTERUN_APP ICON "resources/asterun.ico"
IDI_ASTERUN_TRAY ICON "resources/asterun_tray.ico"
IDR_ASTERUN_NOTIFICATION_ICON RCDATA "resources/asterun.ico"

IDB_CLASSIC_SHORTCUT BITMAP "resources/classic_shortcut.bmp"
IDB_CLASSIC_CLOSE BITMAP "resources/classic_close.bmp"
IDB_CLASSIC_SHORTCUT_125 BITMAP "resources/classic_shortcut_125.bmp"
IDB_CLASSIC_CLOSE_125 BITMAP "resources/classic_close_125.bmp"
IDB_CLASSIC_SHORTCUT_150 BITMAP "resources/classic_shortcut_150.bmp"
IDB_CLASSIC_CLOSE_150 BITMAP "resources/classic_close_150.bmp"
IDB_CLASSIC_SHORTCUT_175 BITMAP "resources/classic_shortcut_175.bmp"
IDB_CLASSIC_CLOSE_175 BITMAP "resources/classic_close_175.bmp"
IDB_CLASSIC_SHORTCUT_200 BITMAP "resources/classic_shortcut_200.bmp"
IDB_CLASSIC_CLOSE_200 BITMAP "resources/classic_close_200.bmp"
IDB_CLASSIC_BACKGROUND BITMAP "resources/classic_bg.bmp"

IDW_CLASSIC_POPUP WAVE "resources/altrun_popup.wav"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,4,30000
 PRODUCTVERSION 1,0,4,30000
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Aspeternity\0"
            VALUE "FileDescription", "Asterun\0"
            VALUE "FileVersion", "1.0.4\0"
            VALUE "InternalName", "Asterun\0"
            VALUE "OriginalFilename", "Asterun.exe\0"
            VALUE "ProductName", "Asterun\0"
            VALUE "ProductVersion", "1.0.4\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
